@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth;
}


*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
}
body {
    font-family: Verdana, sans-serif;
    font-family: Gotu;
}
.mySlides {display: none;}
img {vertical-align: middle;
    
}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}

nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  
	
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
.container1{
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 70px;
}
.about{
	width: 100%;
	height: 600px;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(aboutimg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: -70px;
}
.text{
	font-size: 40px;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #0000;
}
.line{
	width: 200px;
	height: 8px;
	background-color: #17ff8d;
	display: block;
	position: relative;
	border-radius: 5px;
	left: 11%;
	box-shadow: 0px 15px 12px 0px #000;
}
.content{
	width: 100%;
	height: auto;
	background-color: #808080;
	font-size: 22px;
	font-family: audiowide;
	color: #333;
	line-height: 30px;
    text-align: center;
    
}
b{
	font-size: 50px;
	color: #000;
	font-weight: 500px;
}
.image img{
	float: center;
	width: 333px;
    height: 200px;
    margin: 0;
    padding:1px;
    
}


@media all and (max-width: 968px) {
    nav ul{
      margin-right: 0px;
      float: left;
    }
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    nav ul li a:hover{
      box-shadow: none;
    }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
    .show:hover{
      color: cyan;
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    nav ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
    nav ul ul a{
      padding-left: 40px;
    }
    nav ul ul ul a{
      padding-left: 80px;
    }
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }
  
  footer{
    width: 100%;
    background: black;
    float: left;
    color: white;
    padding: 50px 0;
      height: 250px;
      padding-left: 60px;
  }	
  
  footer .footer-box{
    width: 25%;
    float: left;
    
  }
  
  footer .footer-box a{
      font-family: Gotu;
      display: block;
      color: white;
      font-size: 17px;
      text-transform: capitalize;	
  }
  
  footer .footer-box a:hover{	
      text-decoration: none;
    color: red;
  }	

  
  
  .copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 19px;
  }
  .copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }
  
    
  @media all and (max-width: 768px){
  
    footer{
      width:100%;
      flex:0 0 100%;
    }
    footer .footer-box a{
      font-family: Gotu;
      
      
      font-size: 14px;
    
  }
  }
  @media all and (max-width: 555px){
  
    footer{
      width:100%;
      flex:0 0 100%;
      padding-left: 10px;
      height: 170px;
      bottom: 0;
    }
    footer .footer-box a{
      font-family: Gotu;
      
      
      font-size: 10px;
    
  }
  footer h2{
    font-size: 13px;
    
  }
  .image img{
	
	width: 100%;
    
    margin: 0;
    
}
  
  }