@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    font-family: Gotu;
    height: 100% 
    
    
    
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
  
}
body{
    background-image: url("registerimg.jpg");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.w-80{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
header{
    
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}
header.fixed{
    background-color: #000000;
    position: fixed;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}
header.fixed .brand-name a{
    
}
header .brand-name a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
    
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 17px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}

header .navbar ul ul{
	position: absolute;
	top: 50px;
	display:none;
	right: 140px;
	background: black;
	padding: 5px;
	width: 130px;
}
header .navbar ul li:hover > ul{
    display:block;
}
header .navbar ul ul li {
	width:100px;
	float: none;
	display:list-item;
    position: relative;
    
}



header .navbar ul ul li a {
	width:100px;
	float: none;
	
    position: relative;
    
}

header .navbar ul ul li a::before{
    
        content: '';
        height: 0;
        background-color: #ffffff;
        width: 0%;
        position: relative;
        right: 0px;
        bottom: 0px;
        transition: all .5s ease;
    
}







h5{
	margin-top: 100px;
	font-size: 25px;
	font-family: Gotu;
	color: #fff;
}

.sign-up-form{
	width: 400px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 30px;
	margin: 8% auto 0;
	text-align: center;
	padding-top: 15px;
}
.sign-up-form h1{
	color: #1c8adb;
    margin-bottom: 30px;
    padding-top: 20px;
}

.input-box{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 80%;
	border: 1px solid #999;
	outline: none;
}

.signup-btn{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size:15px;
	margin:10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.signup-btn{
	background-color: #1c8adb;
}

a{
	text-decoration: none;
}
hr{
	margin-top: 20px;
	width: 100%;
	
}
.or{
	background: #fff;
	width: 50px;
	margin: -10px auto 6px;
	
}


img{
    width: 70px;
	margin-top: -50px;
}

@media screen and (max-width: 1050px){
	

	.sign-up-form{
        width: 600px;
        height: 1400px;
    }
    .sign-up-form h1{
        color: #1c8adb;
        margin-bottom: 35px;
        font-size: 50px;
        margin-top: 20px;
    }
    
    .input-box{
        border-radius: 20px;
        padding: 30px;
        margin: 20px 0;
        width: 100%;
        border: 1px solid #999;
        outline: none;
        font-size: 40px;
    }
    
    .signup-btn{
        
        width: 60%;
        padding: 10px;
        border-radius: 40px;
        font-size:35px;
        margin:30px 0;
        
        
    }
    .signup-btn{
        background-color: #1c8adb;
        height: 60px;
    
    }
    
    a{
        text-decoration: none;
        font-size: 30px;
    }
    hr{
        margin-top: 50px;
        width: 100%;
        
    }
    .or{
        background: #fff;
        width: 50px;
        margin: -30px auto 9px;
        font-size: 40px;
    }

    .or1{
        font-size: 30px;
        padding-top: 20px;
    }
    .or2{
        font-size: 30px;
        padding-top: 20px;
    }
    img{
        width: 90px;
        margin-top: -50px;
    }
    
}

